@model IEnumerable<Shop_Project.Models.Enrollment>

@{
    ViewData["Title"] = "Enrollment";
}

<h1>Index</h1>
@if (ViewBag.Hidding)
    {
    <p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>}
@if(TempData.Peek("ErrorEnrollment") != null)
    {
    <div class="alert alert-success">
        <p>
            @TempData["ErrorEnrollment"]
        </p>

    </div>

    }
<table class="table sorting" id="pages">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr >
            <td>
                    <span class="ui-icon ui-icon-disk">  </span>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>

                    @if(ViewBag.Hidding)
                        {
                        string slash = " | ";
                        @Html.ActionLink("Edit", "Edit", new { @class="btn btn-success" })
                        @slash;
                        @Html.ActionLink("Details", "Details", new { @class="btn btn-info"}) 
                @slash;
                        @Html.ActionLink("Delete", "Delete", new { @class="btn btn-danger"})


                        }

                    else
                        {
                        @Html.ActionLink("Details", "Details", new { @class="btn btn-info"})
                        }


                   
            </td>
        </tr>
}
    </tbody>
</table>
