@*@using X.PagedList.Mvc.Bootstrap4.Core;*@

@model IEnumerable<Shop_Project.Models.Product>

<p>
    <a asp-action="Create">Create New</a>
</p>




<select id="SelectCategory" name="SelectCategory">

    <option value="0">All </option>
    @foreach(var item in ViewBag.Category)
        {
        if (ViewBag.SelectedCat == item.Value)
            
            {
            <option selected="selected" value="@item.Value"> @item.Text  </option>
            }
        else
            {
             <option value="@item.Value"> @item.Text </option>      
     } 
        }

    )
</select>

<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviews)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach(var item in ViewBag.products)

            {
        <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Sale
                </td>
                <td>
                    @item.Category.Id
                </td>
                <td>
                    <></>
                    @item.About
                </td>
                <td>
                    @item.Reviews
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>


        </tr>            
        
        
    
    }



    <div class="row">

        <div class="col-md-12">
                @Html.PagedListPager((IPagedList)ViewBag.products,page=>Url.Action("Index1","Products",new{page=page})/*, Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast*/)
               @* <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Index1" asp-controller="Products" />*@
        </div>
    </div>








@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviews)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    </tbody>
</table>
