@model IEnumerable<Shop_Project.Models.Order>

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>
@if (ViewBag.Hidding)
    {
    <p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>}
@if(TempData.Peek("ErrorOrder") != null)
    {
    <div class="alert alert-success">
        <p>
            @TempData["ErrorOrder"]
        </p>

    </div>

    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>

                    @if(ViewBag.Hidding)
                        {
  <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>


                        }

                    else
                        {
 <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        }


                  
            </td>
        </tr>
}
    </tbody>
</table>
